# Part 1 - Data Preprocessing

## Import the libraries

In [ ]:

import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__ #Show the version of library

'2.12.0'

## Import Dataset

In [ ]:
dataset=pd.read_csv("/content/drive/MyDrive/Deep Learning/Part 1 - Artificial Neural Networks/Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
dataset.shape

(10000, 14)

In [ ]:
X=dataset.drop(columns="Exited")
y=dataset.Exited

In [ ]:
X.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

## Drop Redundant columns

In [ ]:
X.drop(columns=["RowNumber","CustomerId","Surname"],inplace=True)
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.4+ KB

## Encoding Categorical Data

In [ ]:
#Label encoding of Gender column
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X["Gender"]=le.fit_transform(X["Gender"])

In [ ]:
X.Gender.head()

0    0
1    0
2    0
3    0
4    0
Name: Gender, dtype: int64

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  int64
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(7), object(1)
memory usage: 781.4+ KB

In [ ]:
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France       0   42       2       0.00              1
1             608     Spain       0   41       1   83807.86              1
2             502    France       0   42       8  159660.80              3
3             699    France       0   39       1       0.00              2
4             850     Spain       0   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France       1   39       5       0.00              2
9996          516    France       1   35      10   57369.61              1
9997          709    France       0   36       7       0.00              1
9998          772   Germany       1   42       3   75075.31              2
9999          792    France       0   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

### One Hot Encoding of Geography column

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
ct=ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[1])],remainder="passthrough")
X=np.array(ct.fit_transform(X))

In [ ]:
print(X)

[[1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]

## Splitting the Data in Training and Testing Set

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

# Part2-Building the ANN

## Intializing the ANN

In [ ]:

ann=tf.keras.models.Sequential()

## Adding the input layer and first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

## Adding Second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

## Adding the Output Layer

- units=1 because our target variable is binary
- Sigmoid activation function gives predicted output as well as probabilty of predicted variables

In [ ]:
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

# Part 3 - Training the ANN

## Compiling the ANN

In [ ]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

## Training the ANN on the Training set

In [ ]:
ann.fit(X_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 3s 4ms/step - loss: 0.6971 - accuracy: 0.5931
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5061 - accuracy: 0.7956
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4633 - accuracy: 0.7999
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4457 - accuracy: 0.8029
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4365 - accuracy: 0.8075
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4308 - accuracy: 0.8067
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4267 - accuracy: 0.8077
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4238 - accuracy: 0.8101
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4213 - accuracy: 0.8115
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4194 - accuracy: 0.8123
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4168 - accuracy: 0.8151
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4138 - accuracy: 0.8158
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4103 - accuracy: 0.8194
Epoch 14/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4059 - accuracy: 0.8246
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4011 - accuracy: 0.8301
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3962 - accuracy: 0.8332
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3915 - accuracy: 0.8361
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3862 - accuracy: 0.8381
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3810 - accuracy: 0.8425
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3754 - accuracy: 0.8462
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3702 - accuracy: 0.8486
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3657 - accuracy: 0.8509
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3618 - accuracy: 0.8524
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3588 - accuracy: 0.8533
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3571 - accuracy: 0.8541
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3548 - accuracy: 0.8554
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3534 - accuracy: 0.8551
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3521 - accuracy: 0.8570
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3508 - accuracy: 0.8570
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3499 - accuracy: 0.8586
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8587
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8609
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8610
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3466 - accuracy: 0.8605
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8616
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8615
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3450 - accuracy: 0.8618
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8634
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8629
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3431 - accuracy: 0.8625
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8629
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8640
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8630
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8643
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8641
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8639
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8646
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8652
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8664
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8640
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8651
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8645
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8646
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8651
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8641
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8644
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8662
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8649
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8655
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8673
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8660
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8635
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8659
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8644
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8649
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8664
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8664
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8658
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8639
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8662
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8646
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8665
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8654
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8654
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8655
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8654
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8662
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8659
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8654
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8673
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8668
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8683
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8662
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8666
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8652
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8656
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8673
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8664
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8668
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8655
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8677
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8659
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8662
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8666
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8659
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8671
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8675
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8665
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8661
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8664

# Part 4- Making the predictions and evaluating the  model

## Predicting the result of single observation
### Homework

Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer ?

### Solution

In [ ]:
print(ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))>0.5) #Customer will not exit the bank

1/1 [==============================] - 0s 101ms/step
[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1**: Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2**: Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

## Predict the Test set results

In [ ]:
y_pred=ann.predict(X_test)
y_pred=(y_pred>0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 1ms/step

AttributeError: ignored

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 1ms/step

AttributeError: ignored

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
y_pred_array = y_pred.to_numpy().reshape(len(y_pred), 1)
y_test_array = y_test.to_numpy().reshape(len(y_test), 1)

result = np.concatenate((y_pred_array, y_test_array), axis=1)

63/63 [==============================] - 0s 2ms/step

AttributeError: ignored

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

## Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[1528   67]
 [ 213  192]]

0.86